{
  "env": {
    "development": {
      "plugins": [
        [
          "module:fast-async",
          {
            "useRuntimeModule": true
          }
        ],
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
      ],
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "exclude": ["transform-regenerator"]
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "module:fast-async",
          {
            "useRuntimeModule": true
          }
        ],
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": true }]
      ],
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "exclude": ["transform-regenerator"]
            }
          }
        ]
      ]
    }
  }
}
